%island,
%islet{
  display:block;
  @extend .cf;
}
%island{
  padding:$inuit-base-spacing-unit;
  %island__title{
    margin: 0 - $inuit-base-spacing-unit 0 - $inuit-base-spacing-unit $inuit-base-spacing-unit 0 - $inuit-base-spacing-unit;
    margin-top: 0 - $inuit-base-spacing-unit !important;

    padding: $inuit-base-spacing-unit--small $inuit-base-spacing-unit;
    > :last-child{
      margin-bottom: 0;
    }
  }
}
%island > :last-child,
%islet > :last-child{
  margin-bottom:0;
  :last-child{
    margin-bottom:0;
  }
}
%island > :first-child,
%islet > :first-child{
  margin-top:0;
  :first-child{
    margin-top:0;
  }
}


/**
 * Just like `.island`, only smaller.
 */
%islet{
  padding:$inuit-base-spacing-unit--small;
}

%island--collapse{
  @include media-query(tiny){
    padding: 0;
    %island__title{
      margin: 0!important;
      padding: $inuit-base-spacing-unit--small;
      > :last-child{
        margin-bottom: 0;
      }
    }
    td{
      padding: $inuit-base-spacing-unit--small / 2;
    }
  }
}