/*
.branding
*/

.branding{
  transition-property: padding-top;
  padding-top: $inuit-base-spacing-unit--small;
  @include media-query(palm){
    padding-top: $inuit-base-spacing-unit--small / 2;
  }
  .home &{
    padding-top: $inuit-base-spacing-unit;
    @include media-query(palm){
      padding-top: $inuit-base-spacing-unit--small / 2;
    }
  }
  .is-sticky &{
    padding-top: $inuit-base-spacing-unit--small;
    @include media-query(palm){
      padding-top: $inuit-base-spacing-unit--small / 2;
    }
  }
}
.branding__title{
  margin: 0;
  display: inline-block;
  a{
    display: block;
  }

}
.branding__title__icon{

  height: 100px;
  width: 100px;
  transition-property: width, height;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  color: #fff;
  fill: $brand-col-4;

  .home &{
    animation-duration: 1s;
    animation-name: spinin;
    animation-timing-function: cubic-bezier(0.1, 0.1, 0.5, 0.5);
    animation-fill-mode: forwards;
    width: 165px;
    height: 165px;

    @include media-query(portable){
      height: 100px;
      width: 100px;
    }
  }
  .is-sticky &{
    height: 110px;
    width: 110px;
    @include media-query(portable){
      height: 100px;
      width: 100px;
    }
  }
}
@keyframes spinin {
  0%{
    transform: rotate(0) scale(0.4);
    opacity: 0.1;
  }

  100%{
    transform: rotate(-15deg) scale(1);
    opacity: 1;
  }
}