/*
.branding
*/

.branding{
  transition-property: padding-top;
  padding-top: $inuit-base-spacing-unit--small;
  @include media-query(palm){
    padding-top: $inuit-base-spacing-unit--small / 2;
  }
  .home &{
    padding-top: $inuit-base-spacing-unit;
    @include media-query(palm){
      padding-top: $inuit-base-spacing-unit--small / 2;
    }
  }
  .is-sticky &{
    padding-top: $inuit-base-spacing-unit--small;
    @include media-query(palm){
      padding-top: $inuit-base-spacing-unit--small / 2;
    }
  }
}
.branding__title{
  margin: 0;
  a{
    display: block;
  }
}
.branding__title__icon{

  height: 82px;
  width: 90px;
  transition-property: width, height;
  transform: rotate(-15deg);
  fill: #fff;
  .home &{
    animation-duration: 1s;
    animation-name: spinin;
    animation-timing-function: cubic-bezier(0.1, 0.1, 0.5, 0.5);
    animation-fill-mode: forwards;
    width: 165px;
    height: 150px;
    fill: $brand-col-4;
    @include media-query(portable){
      height: 62px;
      width: 67px;
    }
  }
  .is-sticky &{
    height: 82px;
    width: 90px;
    fill: #fff;
    @include media-query(portable){
      height: 62px;
      width: 67px;
    }
  }
}
@keyframes spinin {
  0%{
    transform: rotate(0) scale(0.4);
    opacity: 0.1;
  }

  100%{
    transform: rotate(-15deg) scale(1);
    opacity: 1;
  }
}