.menu{
  @extend %nav;
  padding: 0;
  margin: 0;
}

.menu--main{
  @extend .menu;
  @extend %portable-nav--stacked;
  @extend .portable-menu--responsive-expand;

}
.menu__item{
  margin-bottom: $inuit-base-spacing-unit--small / 2;
  a {
    padding: 0.5em;
  }
}

.menu--head{
  @extend %nav;
  @extend %nav--block;
  padding: 0;
  margin: 0;
  float: right;

  a{
    text-decoration: none;
  }

}