/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 04-Feb-2015, 19:13:48
    Author     : Richard
*/

.navigation--main{
  @extend %container;
}
.navigation--main__toggle{
  @extend %responsive-toggle;
}
.navigation--main__menu{
  @extend %responsive-menu__container;
  @extend %nav;
  @extend %nav--banner;
  padding: 0;
  font-size:0;
  .menu-item{
    @extend .desk-one-quarter;

    a{
      @include x-rem(font-size,1);
      color: #fff;
      text-decoration: none;

    }
  }
}