/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 04-Feb-2015, 19:13:48
    Author     : Richard
*/

.navigation--main {
  @extend %container;
  display: none;
  max-width: 860px;
  position: relative;
  z-index: 9999;
  transition-timing-function: ease !important;
  transition-duration: 0.6s !important;
  transform: scale(0.5);
  transform-origin: 0 0;
  padding-top: $inuit-base-spacing-unit--small;
  height: 120px;
  @include media-query(lap-and-up) {
    display: block;
    left:100px;

  }
  @include media-query(palm) {
    max-width: 360px !important;
    margin: 0 auto;
  }
  @include media-query(desk) {
    margin-left: auto;
    left: 100px;
  }


  .home & {
    transform: none;
    max-width: 860px;
    padding-top: 0;
    height: auto;

  }
  .is-sticky & {
    transform: scale(0.5);
    transform-origin: 0 0;
    padding-top: $inuit-base-spacing-unit--small;
    margin-left: 13%;
    position: relative;
    @include media-query(desk) {
      margin-left: auto;
      left: 100px;
    }
    @include media-query(lap) {
      margin-left: auto;
      //left: 40px;
    }
    @include media-query(palm) {
      display:none;
    }

  }
}

.navigation--main__menu {
  //@extend %responsive-menu__container;
  @extend %nav;
  @extend %nav--banner;
  padding: 0;
  font-size: 0;
  .menu-item {
    @extend .desk-one-quarter;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 15%;
      width: 100%;
      height: 70%;
      border-left: solid 2px $yellow--pale;
    }
    &:last-of-type {
      &:before {
        border-right: solid 2px $yellow--pale;
      }
    }
    &:nth-of-type(2) {
      @include media-query(palm) {
        &:before {
          border-right: solid 2px $yellow--pale;
        }
      }
    }

    a {
      @include x-rem(font-size, 1);
      transition: all 3.3s ease;
      padding: $inuit-base-spacing-unit--small;
      position: relative;
      background: $brand-col-4;
      color: #fff;
      text-decoration: none;
      display: block;
      margin-left: 2px;
      @include media-query(tiny) {
        padding-bottom: 0;
      }
      &:before {
        transition: all .6s ease;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        background: repeating-linear-gradient(
                        45deg,
                        transparent,
                        transparent 10px,
                        lighten($brand-col-4, 5%) 10px,
                        lighten($brand-col-4, 5%) 20px
        );
      }
      &:last-of-type {
        margin-right: 2px;
      }
      &:hover {

        .menu__icon {
          transform: rotate(-10deg);
          background: $brand-col-2;
          box-shadow: 0.5px 0px 0 2px $yellow--pale, 0 1px 2px 4px rgba(#000, 0.5);
        }
        .menu__title {
          color: $brand-col-2;
          transform: scale(1.2);
          text-shadow: 0 2px 0 #000;
        }
        &:before {
          opacity: 1;
        }
      }

    }
  }
  .menu__icon {
    position: relative;
    transition: all 0.3s ease;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background: $yellow--pale;
    border-radius: 50%;
    border: solid 5px;
    box-shadow: 0.5px 0px 0 2px $yellow--pale, 0 0 0 rgba(#000, 0.1);
    @include media-query(lap) {
      width: 120px;
      height: 120px;
      .is-sticky &{
        width: 110px;
        height: 110px;
      }
    }
    @include media-query(tiny) {
      width: 110px;
      height: 110px;
    }

  }
  .icon--svg {
    height: 100px;
    position: relative;
    width: 100px;
    fill: #fff;
    @include media-query(lap) {
      width: 70%;
      height: 70%;
    }
    @include media-query(tiny) {
      width: 70%;
      height: 70%;
    }
    &.icon-links {
      top: 15px;
    }
    &.icon-prices {
      top: 12px;
      left: 2px;
    }
    &.icon-about-you {
      top: 0;
    }
    &.icon-testimonials {
      top: 19px;
      left: 3px;

    }
  }
  .menu__title {
    @extend .delta;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: $yellow--pale;
    margin-top: $inuit-base-spacing-unit--small;
    text-shadow: 0 1px 0 rgba(#000, 0.5);
    @include media-query(lap) {

  }
    @include media-query(tiny) {
      @include inuit-font-size(12px);
    }

  }
}
.menu{
  padding: 0;
  .pushy &{
    margin: $inuit-base-spacing-unit *3 0 $inuit-base-spacing-unit ;
    @extend %nav;
    @extend %nav--stacked;
    .menu-item{

    }
    a{
      transition: background 0.3s ease;
      color: white;
      padding: $inuit-base-spacing-unit--small /2 $inuit-base-spacing-unit--small /2 $inuit-base-spacing-unit--small /2 $inuit-base-spacing-unit--small * 2;
      border: solid 1px $brand-col-4;
      &:hover{
      background: rgba(#fff, 0.1);
        border-top-color: rgba(#fff, 0.05);
        border-bottom-color: rgba(#fff, 0.05);
        text-shadow: 1px 1px #000;
    }
    }
  }
}
.menu-item{
  list-style: none;
  a{
    text-decoration: none;
  }
}