/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Feb-2015, 19:13:48
    Author     : Richard
*/
.navigation--main{
  @extend %container;
}
.navigation--main__toggle{
  @include menu--icon(false, false);
  float: right;
  display: none;
  @include media-query(portable){
    display: block;
  }
}
.navigation__container--head{
  @extend %layout__item;
  @extend .desk-two-thirds;
}
.navigation--head__toggle{
  @extend %responsive-toggle;
}