.site__master-header{
  position: absolute;
  width: 100%;
  z-index: 9999;
  padding-bottom: $inuit-base-spacing-unit--small;
  background: $brand-col-4;
  .home &{
    background: transparent;
  }
  .is-sticky &{
    background: $brand-col-4;
  }
}
.site__slider{
  padding-top: $inuit-base-spacing-unit--large * 2;
}
.site__navigation{
  background: transparent;

  .home &{
    background: $brand-col-4;
  }
  .is-sticky &{
 width: 100%;
    background: transparent;
  }
}
.site__content{

}
.site__subsidiary{
  background: $brand-col-4;
  padding: $inuit-base-spacing-unit 0;
  border-top: solid 5px $brand-col-2;
}
.site__footer{
  background: $brand-col-2;
  padding: $inuit-base-spacing-unit--small 0;
}

