/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27-Mar-2015, 18:33:54
    Author     : Richard
*/
.slider--master{
  height: auto;
  @include media-query(palm){
    height: auto;
  }
}
