.table--products{
  @extend %table;
  @extend %table--cosy;
  @extend %table--rows
}
.table--product__currency{
  text-align: right;
  padding-right: 0!important;
}
.table--product__price{
  @include inuit-font-size(19px);
  text-align: right;
  max-width: 4em;
  padding-left: 0!important;
  font-weight: 700;

}
.table--product__pp{
  text-align: right;
}
.table--product__buy{
  @extend %btn-style-2;
}