.table--products{
  @extend %table;
  @extend %table--cosy;
  @extend %table--rows;

  td{
    @include media-query(palm){
      //padding: 0;
    }
  }

}
.table--product__title{
  @include media-query(palm){
    @include inuit-font-size(11px, 1.3);
  }
}
.table--product__currency{
  text-align: right;
  padding-right: 0!important;
}
.table--product__price{
  @include inuit-font-size(19px);
  text-align: right;
  max-width: 4em;
  padding-left: 0!important;
  font-weight: 700;

}
.table--product__pp{
  text-align: right;
  vertical-align: top;
  @include media-query(palm){
    padding: 0 !important;
  }
}
.table--product__buy{
  @extend %btn-style-2;
  @include media-query(palm){
    padding: 0;
  }
}