.testimonial{
  @extend %layout__item;
  @extend .desk-one-sixth;
}
.testimonial__wrapper{
  @extend %box-shadow--style-1;
  background: white;
  display: block;
  border:solid 1px #fafafa;


  margin: 0 auto;
  margin-bottom: $inuit-base-spacing-unit;
}
.testimonial__header{
  text-align: center;
  padding: 0 0 20px 0;
  img{
    display: block;
    width:100px;
    height: 100px;
    max-width: 100%;
    padding: 2px 2px 2px 2px;
    margin: 0 auto;
    //background: #fff;
   // border: solid 1px rgba($brand-col-4,  0.1);
  }
}
.testimonial__content{
  @extend %islet;
  @include inuit-font-size(14px, 1.4);
  display: none;
}
.testimonial__remodal{
  padding: 0;
  max-width: 500px;
  border-radius: 2px;
}
.testimonial__header--remodal{
padding: $inuit-base-spacing-unit * 1.5 ;
  padding-bottom: 0;
  img{
    width: 100%;
    height: auto;
  }
}