/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27-Mar-2015, 18:14:19
    Author     : Richard
*/

.widget-area--sidebar--header{
  margin-top: $inuit-base-spacing-unit--small;
  .home &{
    margin-top: $inuit-base-spacing-unit;
    @include media-query(portable){

      margin-top: 0;
    }
  }
  .is-sticky &{
    margin-top: $inuit-base-spacing-unit--small;
    @include media-query(portable){

      margin-top: 0;
    }
  }
  @include media-query(portable){

    margin-top: 0;
  }
}

.widget-area--sidebar{
  .widget-title{
    @extend %title-style-1;
    line-height: 2;
  }
}

.widget-area--sidebar--subsidiary{
  .widget{
    @extend %layout__item;
  }
}